.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  transform: translateZ(0);
  will-change: auto;
  @include transition(padding .15s);
}


// @media all and (min-width: 768px){
//   .wrapper {
//     padding-left: 12rem;
//   }
// }

.main-info {
  border-radius: 10px;
}

.edit-link {
  display: none;
}

.main-info:hover {
  box-shadow: 0px 0px 15px 6px rgba(146,146,146,0.66);

  .edit-link {
    display: inline;
    color: $blue-lit;
    text-decoration: none;
  }
}

.font-size-075 {
  font-size: 0.75em;
}

.btn-hover-white:hover {
  color: #fff;
}

.btn-hover-white:focus {
  color: #fff;
}

.table-sticky {
  position: sticky;
  top: 0;
}

.table-relative {
  position: relative;
}


.btn-icon-show {
  color: #ffffff;
  transition: all 0.5s;
  position: relative;
}

.btn-icon-show::after {
  content: "pokaż";
  font-weight: 400;
  position: absolute;
  left: 30%;
  top: 10%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}

.btn-icon-show:hover {
  background: #39f;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #0000ff61;
  padding-right: 3.5rem;
}

.btn-icon-show:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.btn-icon-edit {
  color: #ffffff;
  transition: all 0.5s;
  position: relative;
}

.btn-icon-edit::after {
  content: "edytuj";
  font-weight: 400;
  position: absolute;
  left: 30%;
  top: 10%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}

.btn-icon-edit:hover {
  background: #2eb85c;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #153d22;
  padding-right: 3.5rem;
}

.btn-icon-edit:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.btn-icon-money {
  color: #39f;
  transition: all 0.5s;
  position: relative;
}

.btn-icon-money::after {
  content: "edytuj";
  font-weight: 400;
  position: absolute;
  left: 30%;
  top: 10%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}

.btn-icon-money:hover {
  color: #ffffff;
  background: #39f;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #0000ff61;
  padding-right: 3.5rem;
}

.btn-icon-money:hover::after {
  opacity: 1;
  transition: all 0.5s;
}
